# Dependencies
node_modules/

# Env Variables
.env

# Logs
logs/method-reconstruction-experiment/*/raw
!logs/.gitkeep

# Temporary
temp
experiment-repos/*-mutation-*

# Built Files
dist/

# Jupyter Notebook
.venv
.ipynb_checkpoints